<div class="container">
    <div class="row justify-content-sm-center">
        <div class="col-sm-12">
            <p style="text-align: center;">
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                    Informações
                </button>
            </p>
        </div>
        <div class="col-sm-12">
            <div class="collapse" id="collapseExample">
                <div class="card card-body container">
                    <div class="row">
                        <div class="col-sm-3">
                            <p>Institucional</p>
                            <p>Nossa História</p>
                            <p>Missão</p>
                            <p>Propósito</p>
                        </div>
                        <div class="col-sm-3">Dúvidas</div>
                        <div class="col-sm-3">Serviços</div>
                        <div class="col-sm-3">Fale Conosco</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>