.cabecalho{
    margin-top: 15px;
    margin-bottom: 10px;
}
.pesquisa-topo{
    width: 90%;
}
.bi-heart{
    margin-left: 5px;
    margin-right: 5px;
}
.bi-bag{
    margin-left: 5px;
    margin-right: 5px;
}